{% extends 'layout.twig' %}

{% block title %}Youthweb Event{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-xs-center display-4">Authorization error</h1>
				<p class="text-xs-center">We are sorry for that. Please try again.</p>
				<p class="text-xs-center"><a class="btn btn-primary btn-lg" href="/" role="button">Back</a></p>
			</div>
		</div>
	</div>
{% endblock %}
