{% extends 'layout.twig' %}

{% block title %}Youthweb hat Geburtstag{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-xs-center display-4">Hoppla! 🤕</h1>
				<p class="text-xs-center">Da gab es wohl ein Problem mit der Anmeldung.</p>
				<p class="text-xs-center">Versuch es einfach nochmal und stelle sicher, dass dein Browser Cookies zulässt.</p>
				<p class="text-xs-center"><a class="btn btn-primary btn-lg" href="/" role="button">Zurück</a></p>
			</div>
		</div>
	</div>
{% endblock %}
