{% extends 'layout.twig' %}

{% block title %}Youthweb Event{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4">Event Name</h1>
			<p>This is a template for a simple event website. You can add all details in this page. Don't forget the date, time and the location. This can look like this.</p>
			<p class="text-xs-center text-sm-left font-weight-bold">Monday, 12. December 2016, 15:00</p>
			<address>
				<strong>Location Name</strong><br>
				Examplestreet 12<br>
				12345 City<br>
				Contact: mail@example.com
			</address>
			<p class="text-xs-center text-sm-left">At the moment <strong>{{ members_count }} members</strong> will join the event.</p>
			<p class="text-xs-center text-sm-left">Sign up now and join the event!</p>
			<p class="text-xs-center text-sm-left"><a class="btn btn-primary btn-lg" href="/join" role="button">Sign up with Youthweb</a></p>
			<p class="text-xs-center text-sm-left"><a href="#">or sign up with Email</a></p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="card-columns">
{% for member in members %}
				<div class="card">
					<img class="card-img-top img-fluid" src="http://placehold.it/150x150" alt="Card image cap" style="height: 100%; width: 100%; display: block;">
					<div class="card-block">
						<h4 class="card-title">Card title</h4>
						<p class="card-text">{{ member.message }}</p>
					</div>
				</div>
{% endfor %}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>Organization</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Privacy</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Source</h2>
				<p>This page is open source and licensed unter GPL3. You can use this page for your own event.</p>
				<p><a class="btn btn-secondary" href="https://github.com/Art4/youthweb-event" role="button">View on github &raquo;</a></p>
			</div>
		</div>
		<hr>
		<footer>
			<p>License GPL3</p>
		</footer>
	</div>
{% endblock %}
