<!DOCTYPE html>
<html lang="de">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<link async="true" type="text/css" rel="stylesheet" href="/assets/css/style.css" />
{% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
